[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
bcrypt = "*"
click = "*"
colorama = "*"
flask = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-login = "*"
flask-sqlalchemy = "*"
greenlet = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
pycodestyle = "*"
six = "*"
sqlalchemy = "*"
tomli = "*"
werkzeug = "*"
pyjwt = "*"
uuid = "*"

[dev-packages]

[requires]
python_version = "3.10"
