[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
flask-restful = "*"
werkzeug = "*"
six = "*"
pytz = "*"
psycopg2 = "*"
markupsafe = "*"
jinja2 = "*"
itsdangerous = "*"
click = "*"
aniso8601 = "*"
flask-login = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
